* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

div {
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

h1 {
    color: white;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}


a {
    margin-left: 20px;
    color: white;
    font-size: larger;
    text-decoration: none;
    padding: 10px 7px;
    border-radius: 4px;
    user-select: none;
}



.active {
    background-color: rgba(245, 245, 220, 0.671);
}